<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913935125097-sforjdu9aia55uq1ifle2aj0b2abt4rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913935125097-sforjdu9aia55uq1ifle2aj0b2abt4rt</string>
	<key>API_KEY</key>
	<string>AIzaSyChbxAK8I_5S0Y_T8xb9Zge8yHsgYrTPmg</string>
	<key>GCM_SENDER_ID</key>
	<string>913935125097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pts.cafeManager</string>
	<key>PROJECT_ID</key>
	<string>cafemanager-53e8a</string>
	<key>STORAGE_BUCKET</key>
	<string>cafemanager-53e8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913935125097:ios:9e0c7dad1c423f526eb0f8</string>
</dict>
</plist>